<div class="vacancies">
  <% if @vacancies.count > 0 %>
    <h3><%= @team.short_name %> is recruiting!</h3>
    <ul>
      <% @vacancies.each do |vacancy| %>
        <li>
          <%= link_to "(#{vacancy.applications.count}) #{vacancy.role_s}", vacancy_path(vacancy) %>
          <%= link_to "(Delete)", vacancy_path(vacancy), :method => :delete %>
        </li>
      <% end %>
    </ul>

  <% else %>
    <h3><%= @team.short_name %> is not recruiting at the moment.</h3>

  <% end %>
  <% if @is_captain %>
    <div class="new-vacancy">
      <h3>Open vacancies</h3>
      <%= render 'vacancies/form' %>
    </div>
  <% end %>
</div>