<p id="notice"><%= notice %></p>
<h1> 
  <%= @team.short_name %>
</h1>
<h2>
  <%= @team.name %>
</h2>

<div class="captain">
  <strong>Captain:</strong>
  <%= link_to @captain.nick, player_path(@captain) %>
</div>

<div class="members">
  <p>
    <strong>Members:</strong> <%= link_to '(Edit)', members_team_path(@team) %>
    <ul>
      <% @memberships.each do |member| %>
        <li>
          <%= link_to member.player.nick, player_path(member.player) %> - <%= member.role.name %>
        </li>
      <% end %>
    </ul>
  </p>
</div>

<%= render 'vacancies' %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
