<p id="notice"><%= notice %></p>
<h1> 
  <%= @team.short_name %>
</h1>
<h2>
  <%= @team.name %>
</h2>


<% if @is_member and not @is_captain %>
  <%= link_to 'Leave team', membership_path(@membership), method: :delete %>
<% end %>
<hr/>
<br/>

<div class="captain">
  <strong>Captain:</strong>
  <%= link_to @captain.nick, player_path(@captain) %>
</div>

<div class="members">
  <p>
    <strong>Members:</strong> <%= link_to '(Edit)', members_team_path(@team) %>
    <ul>
      <% @memberships.each do |member| %>
        <li>
          <%= link_to member.player.nick, player_path(member.player) %>
          <% if member.role %>
             - <%= member.role.name %>
          <% end %>
          <% if @is_captain and member.player != current_user%>
             - <%= link_to 'Expel', membership_path(member), method: :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
</div>

<%= render 'vacancies' %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
