<div id='notice'>
  <%= notice %>
</div>

<div class='info'>
  <h1>
    <%= @player.nick %>
  </h1>

  <div class='personal-info'>
    <p>
      <%= @player.first_name + ' ' + @player.last_name %>
    </p>
    <p>
      <%= @player.country %>
    </p>
    <p>
      <%= @player.birth_date %>
    </p>
    <p>
      <%= @player.email %>
    </p>
  </div>

  <div class='team-info'>
    <% if @teams.length > 0 %>
      <h2>
        Captain of:
      </h2>
      <ul>
        <% @teams.each do |team| %>
          <li> <%= link_to team.name, team_path(team) %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>


<%= link_to 'Edit', edit_player_path(@player) %>
<%= link_to 'Back', players_path %>
