<!DOCTYPE html>
<html>
<head>
  <title>Tourney</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id = "login-box">
    <% if current_user %>
      <%= link_to current_user.nick, player_path(current_user) %>
      <%= link_to 'Sign out', session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Sign up', new_player_path %>
      <%= link_to 'Log in', new_session_path %>
    <% end %>
  </div>
  <div class = "clear-fix"/>

  <br/>
  <hr/>
  <br/>

  <!-- ACÃ VA EL MENÃš PRINCIPAL -->
  <div class = "menu">
    <div class = "menu-option">
      <%= link_to 'Home', root_path %>
    </div>
    <div class = "menu-option">
      <%= link_to 'Players', players_path %>
    </div>
    <div class = "menu-option">
      <%= link_to 'Teams', teams_path %>
    </div>
    <div class = "menu-option">
      <%= link_to 'Tournaments', tournaments_path %>
    </div>
    <div class = "clear-fix"/>
  </div>
  <br/>
  <hr/>
  <br/>
  <div>
  </div>
</header>
<%= yield %>

</body>
</html>
